.profilePic {
    width: 30px;
    height: 30px;
    size: 30px 30px;
    margin-right: 10px
}

li {
    padding: 6px;
    padding-left: 10px;
    list-style: none;
    font: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul > li:nth-of-type(odd) {
    background-color: hsl(0, 2%, 55%);
}